# Archivos sensibles
/Api/credentials.json
/Api/firebase_config.py
/dashboard/src/firebase-config.js


#/Users/jdom/TrueLove/TrueLove/dashboard/src
# Otros archivos generados
__pycache__/
build/
dist/
*.pyc
